body{background-color:transaprent !important;}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
/*==common css==*/
.text-capitalize{text-transform:capitalize;}
.text-center{text-align:center !important;}
.mb0{margin-bottom:0px !important;}
.mt0{margin-top:0px !important;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.text-bold{font-weight:700;}
a:hover, a:focus{text-decoration:none;}
.clearfix{clear:both;}
#triangle-left {width: 0;height: 0;border-top: 50px solid transparent;border-right: 1370px solid #017eff;
border-bottom: 0px solid transparent;background-color: #fff !important;}
section {background-color: #fff;}
.green{ color: #0ed41f;}
.blue{color:#34a3d7;}
.blue-bg{background-color:#34a3d7;}
.green-bg{background-color:#0ed41f;}

/*=============*/


.clearfix{
	clear:both;
}
.navbar-brand > img{
	max-width: 200px;
	height: 50px;
	margin-top: 5px;}
.nav.navbar-nav {
    padding-top: 25px;
	margin-left:0px !important;
	
}	
.navbar .nav{float:right;}

input.form-control {
	box-shadow: none;
}
.navbar-inverse {
	background-color: #007fff;
	border: none;
	/*box-shadow: 0 3px 2px #D8DAD9;*/
}
.navbar-brand img{
	margin-left:5px;
}

.hero-banner {
	background: url(../img/hero.png) no-repeat center top;
	height: 700px;
	max-width:100%;
}
.listing-banner {
	background: url(../img/edit-profile-addbanner.jpg) no-repeat center top;
	height: 244px;
}
.hero-banner, .listing-banner {
	background-size: cover;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
	color: #fff !important;
	padding: 0 0 0 2px;
	
}
.navbar-nav>li>a {
	line-height: normal;
	text-transform: capitalize;
	font-size: 13px;
/*	border-left: 6px solid transparent;*/
}

.navbar.navbar-inverse.navbar-fixed-top{min-height:80px;}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #0ED41F !important;
	color: #fff !important;
}
.navbar-nav>li:hover{
	background-color: #0ED41F;
	color:#fff !important;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.7s all ease;
	-o-transition: 0.7s all ease;
	-ms-transition: 0.7s all ease;
	transition: 0.7s all ease;
}
.navbar-inverse .navbar-nav>li.active{
	background-color:#0ed41f;margin-left: 10px;
}
.navbar-nav>li{
	padding:6px 8px 6px 7px !important;
	margin: 0px 10px;border-radius: 2px;
}

.navbar-nav>li:last-child{
	margin:0 0px;
}
.down-arrow {
	color: #90CC38;
	font-weight: bold;
}

.header-content {
	padding-top: 120px;
	color: #fff;
}
.header-content h3 {
	font-size: 40px;
	
	margin:0 0 5px 0;
	line-height: 40px;
}
.header-content img{
	margin-top:5px;
	width: 180px;
}

.hero-banner .btn-action, .header-search-form .btn-action {
	    background: #90CC38 url(../img/search_arrow.png) no-repeat 58% center;
    padding: 0 42px;
}
/*=====slider====*/
.slider img {max-width:100%;}

/*=====slidere ends====*/

/*===hire-jobs===*/
.hire-jobs{padding-top:40px;background-color:#fff;padding-bottom: 40px;}
.form-group{margin-bottom:0px !important;}
.table.urjent_job {background: transparent;}

/***--pre css***/
.healthcare_temps.text-center {padding-bottom: 30px;}
.healthcare_temps h6 {
    color: #1FAC54;
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 0px !important;font-weight: 700;
}
.healthcare_temps p{font-size:15px;}
.healthcare_temps hr {height: 3px;background-color: #017eff;width: 160px;}
.urgent_hjobs {background-color: #007FFF;color: white;text-align: center;margin-bottom: 27px;}	
.urgent_hjob_text {padding: 0px 30px;}
.urgent_hjob_text .form-control{height: 45px;border-radius: 0px;border: 2px solid #ccc;}
.hire-job button{border:0px;padding: 10px 60px 12px 60px ;border-radius: 30px;font-size: 16px;background-color: #007FFF;color: #fff;}
.hire-job .job_button {padding:2px 14px 2px 14px;margin-bottom: 0px !important;border-radius: 30px;font-size:12px;}
.urgent_hjobs h6{padding: 16px 0px;font-size: 16px;}
.urgent_hjob_text .table tr td{border-top:0px;}
.hire-job {border: 1px solid #007FFF;height:280px;text-align: center;}

/***benifits_sec***/
.outer-section{background:#017eff;}
.benifits_sec {background-color: #017eff;padding:30px 30px;width:100%;/*-moz-transform: scale(1) rotate(-1deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-webkit-transform: scale(1) rotate(-1deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg); -o-transform:scale(1) rotate(-1deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
-ms-transform:scale(1) rotate(-1deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
transform:scale(1) rotate(-1deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);*/}
.benifits_sec .container{transform: rotate(1deg);}
.benifits_sec p .plus-sign {margin-right: 10px;}
.benfit_hw .img-block img{margin: 0 auto;}
.benfit_hw .img-block h6{color:#fff;font-size:16px;}
.benfit_hw .img-block{text-align: center;margin-left: -125px;padding-bottom: 20px;}
.benifits_sec .box-right{padding-left: 50px;}
.benifits_sec .box-left{padding-left: 50px;}
.benfit_hw p {line-height: 21px;color: #fff;font-size:13px;}
.benfit_hw button {background-color: #0ed41f;color: #fff;border: 0;padding: 8px 17px;border-radius: 30px;margin-left: -130px;margin-top: 20px;}
.benfit_hw .img-block:last-child{margin-left:0px;}
.benfit_hw button:hover{background-color: #74cfcf;transition: background-color 0.6s ease-out;box-shadow: 2px 2px 4px #666;}
.benfit_hw .suitcase,.benfit_hw .worker{width:auto;height: auto;margin-top: 0px;}
.suitcase {margin-bottom: 0px !important;}



/***our-solution***/
.main-section{background:#0ed41f;}
.our-solution{padding:10px 0px 50px 0px;background-color:#0ed41f;}
.heading{padding:30px 0px 30px 0px;color:#fff;font-size:38px;text-align:center;font-weight: 700;margin-bottom:0px !important;margin-top:0px !important;}
.our-solution .solution-content img{position:relative;}
.our-solution .solution-content .connect-btn{border:0px;background:#007fff;color:#fff;padding: 3px 20px 3px;border-radius: 1px;font-size: 12px;}
.our-solution .solution-content .connect-solutions{position: absolute;left: 0px;margin: 0 auto;bottom: 62px;right: 0px;text-align:center;}
.our-solution .solution-content .connect-btn:hover,.connect-btn.get-started:hover,.hire-job button:hover,.connect-btn.get-started:hover{box-shadow:2px 2px 4px #666;transition:0.5s ease-in;}



/*******users-sec*********/

.users-sec{background:#9771d8;padding:10px 0px 50px 0px;}
.outer {padding-top: 30px;}
.user-text{color: white;height:140px;padding:20px;text-align: center;margin-top: 20px;font-size: 13px;line-height: normal;}
.user-text p{margin-bottom: 0px;font-size: 12px;line-height: 15px;margin-top: -35px;color: #fff;}
.user-text span {display: table;margin: 0 auto;font-size: 50px;position: relative;top: -44px;}
.user-content {padding-top:10px;background-color: #fff;padding-right: 0px;padding-left: 0px;}
.users-sec .client-name{text-align:center;padding-top: 18px;}
.user-content .mb0.mt0 ,.user-content .mb0.mt0{font-size: 15px;padding: 10px 0 0px 0px !important;line-height: 16px;}
/*.outer .user_para_text.lslide:nth-child(odd) h6{color:#0ed41f;}
.outer .user_para_text.lslide:nth-child(even) h6{color:#34a3d7;}*/
.client-name img{max-width:100%;}
.user-content .client-name h5{font-size: 12px;color: #666666;margin-top: 0px;margin-bottom: 10px;}
.user_para_text .user-content:hover{transition: .20s ease-in;transform: scale(1.1,1.1);}
.outer .testimonies li{width:270px;padding-right:15px;padding-left:15px;}


/*****revolution_temp_sec*****/

.revolution_temp_sec{background:#007fff;padding-top:30px;padding-bottom:30px;position:relative;}
.revolution_temp_sec .description .des-heading{font-size: 26px;color: #fff;margin-bottom: 0px;line-height: 26px;}
.revolution_temp_sec .sub-heading.mt0{color:#fff;font-size:15px;margin-bottom:20px;}
.description{position:absolute;top: 60px;top: 60px;left: -204px;border-left: 3px solid #0ED41F;padding-left: 20px !important;padding-bottom: 20px;}
.description .points li{list-style-type:none;margin-bottom:5px;color:#fff;font-size: 14px;}
.description .points li p{padding-left:13px;color:#fff;font-size:13px;}
.app-img {height: 420px;width: auto  !important;}
.side-waves {position: absolute;right: 0px;top: 224px;width: 300px;height: 17px;}
.connect-btn.get-started {padding: 6px 24px;color: #007fff; background: #00ff01;border: 0px;border-radius: 2px;
font-size: 14px;margin-left: 102px !important;margin-top: 16px;}


/******users_sec*****/
.access-virual{background-color: #00ff01 !important;margin-bottom:0px;padding-bottom:20px;padding-top: 20px;}
.access-virual .heading{color:#017eff;}
.access-virual .centralimg{background: url("../img/watchbg.png") no-repeat center center;height:420px;width:400px;margin: 0 auto;}
.access-virual .smart-options{padding-top:40px;}
.access-virual .smart-options li{display:block;padding:20px 0px;font-size: 18px;font-weight: 700;}
.access-virual .smart-options li a:hover{color:#fff !important;}
.access-virual .smart-options li a img{padding-left: 10px;}
.access-virual .smart-options{text-align:right;}
.access-virual .smart-option-left{text-align:left;}
.access-virual .smart-option-left li a img{padding-left: 0px;padding-right:10px;}
.smart-options .b a,.smart-options .c a{margin-right:20px;}
.smart-options .d a,.smart-options .a a{margin-right:-10px;}
.smart-option-left .e a,.smart-option-left .h a{margin-left:-20px;}
.smart-options-left .f a,.smart-options-left .g a{margin-right:20px;}

/*****.footer_head***/

footer{padding-top: 22px;background: #fff;background-color:#fff;width:100%;max-width:100%;margin-right: 0px;
margin-left: 0px;}
footer .links{padding-bottom:10px;}
.footer-head h6{color:#58595b;font-size:16px;text-transform:uppercase;}
footer .footer_links{padding-left: 0px;margin-right:0px !important;}
footer .footer_links li{list-style-type:none;color:#58595b;font-size:13px;padding:2px 0px;}
footer .footer_links li a{color:#58595b;}
footer .bottom_links{background:#2d3d56;color:#fff;}
footer ul li a{padding-left: 0 !important;}
footer .bottom_links_ul li{display:inline-block;margin-bottom: 0;}
footer .bottom_links_ul{margin-top: 2px;display: inline-block;float: left;width: 48%;margin-right: 0px;margin-left: 24px;margin-bottom: 0;}
footer .bottom_links_ul li a{color:#fff;font-size: 12px;}
footer .bottom_links .copyright{margin-left:0px;font-weight: 100;margin-top: 0;margin-bottom: 0;}
footer .right-coll {display: inline-block;float: left;text-align: right;width: 47%;}
footer .footer_links li:hover{color:rgb(1, 126, 255);}

/********moz hack *********/

@-moz-document url-prefix(){
	
}

/*********-======animation css--------********/
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounce {
  from,
  20%,
  53%, 
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}
@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}


@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.revolution-header {
    display:inline-block;
    -webkit-transform:scale(1,1.4); /* Safari and Chrome */
    -moz-transform:scale(1,1.4); /* Firefox */
    -ms-transform:scale(1,1.4); /* IE 9 */
    -o-transform:scale(1,1.4); /* Opera */
    transform:scale(1,1.4); /* W3C */
}
