

/*-responsive-*/

@media (min-width: 1200px) {
	.header-search-form {
		margin-left: 45px;
	}
	.header-search-form.navbar-form input {
		width: 400px;
	}
	.review-button .btn {
		padding: 10px 61px;
	}
}
@media (max-width: 1199px) and (min-width: 992px) {
	.header-search-form {
	    margin-left: 15px;
	}
	.review-button .btn {
		padding: 10px 40px;
	}
}
@media (max-width: 991px) and (min-width: 768px) {
	.navbar-nav>li>a {
		font-size: 12px;
	}
	.navbar-nav > li {
	    padding: 35px 7px;
	}
	.header-search-form {
		margin-right: 5px;
	}
	.navbar-form .form-control {
		    width: 195px;
	}
}
@media (max-width: 991px) {
	.navbar-brand {
		width:120px;
		height: auto;
		padding: 3px 15px;
	}	
	.header-search-form.navbar-form input {
		font-size: 16px;
	}
	.image-advt img {
		margin: 0 auto;
	}
	.get-free-app {
		width: 300px;
		margin:0 auto;
	}
	.advertisement-sidebar {
		display: inline-block;
		margin: 30px 0 5px;
	}
}
@media (min-width: 768px) {
	.navbar-nav {
		float:right;
		padding-top: 5px;
	}
	.get-app h3, .categories h4 {
		width:432px;
		margin: 0 auto;
	}
	.checkin-details .state {
		width: 155px;
	}
	.checkin-details .services-input {
		width: 285px;
	} 
	.find-your-location {
		display: inline-block;
		padding-left: 13px;
	}
	.find-your-location .form-group {
		border-right: 1px solid #C4C4C4;
	}
	.find-your-location .form-group:last-child {
		border-right: none;
	}
	.navbar-brand {		
		padding: 10px 15px;
	}
	/*login form*/
	.dropdown-menu.login-section {
		min-width: 270px;
		right:0;
		left:auto;
	}
	.get-free-app .btn {
		width:100%;
	}
	.header-search-form {
		background-color: #fff;
	}	
	.form-section input[type="radio"], .change-value {
		position: relative;
		top: 7px;
	}
	.upload-picture .btn {
		margin-top: 45px;
	}
	.about-lab .lab-Headings p {
		padding:0 169px 30px 0;
	}

}
@media (max-width: 767px) {
	.navbar-header {
		padding-bottom: 5px;
	}
	.hero-banner {
		background-position: 27% top;
	}
	.header-content {
	    padding-top: 420px;
	}
	.navbar-toggle {
		margin-top: 13px;
	}
	.navbar-inverse .navbar-toggle,
	.navbar-inverse .navbar-toggle:hover,
	.navbar-inverse .navbar-toggle:focus {
		background-color: #90CC38;
		border: none;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #ccc;
		margin-top: 5px;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a,
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
		color: #000;
	}
	.navbar-nav > li {
    	padding: 10px 15px;
	}
	.header-content h2 {
		font-size: 32px;
	}
	.form-style {
		margin: 30px 0;
	}
	.checkin-details {
		width: 280px;
		background-color: rgba(255,255,255,.2);
		padding: 0 10px;
	}
	.checkin-details .form-group {
		margin-bottom: 10px;
	}
	.find-your-location {
		position: relative;
		padding-bottom: 0;
	}
	.location-icon {
		position: absolute;
		left: 10px;
		top: 16px;
		padding: 13px 12px;
	}
	.checkin-details input {
		padding-left: 40px;
		height: 40px;
	}
	.social-icons {
		text-align: center;
	}
	.app-links a {
		margin-bottom: 10px;
	}
	.copyright-block h3 {
		line-height: 22px;
	}
	.xs-login .modal-dialog {
		width:300px;
		margin: 10px auto;
	}
	.xs-login .modal-body {
		padding: 0;
	}
	.header-search-form.navbar-form .form-group {
		margin-bottom: 0;
	}
	.related-image img, .image-advt img {
		margin: 0 auto;
	}
	.related-information {
		margin: 20px 0;
	}
	#navbar {
		background-color: #D8DAD9;
	}
	.contact-number {
		text-align: right;
	}
	.breadcrumb-list li a {
		font-size: 12px;
	}
	.breadcrumb-list li:first-child {
		padding-left: 8px;
	}
	.breadcrumb-list li {
		padding: 11px 2px 11px 30px;
	}
	.header-search-form.navbar-form {
		margin: 10px 0;
	}
	.get-free-app .btn-small {
		width: 100%;
	}
	.upload-picture .media-left {
		margin: 0 auto 20px;
		display: block;
	}
	.form-buttons {
		margin-bottom: 50px;
	}
	.overview-tabs .visit-us {
		margin: 20px 0;
	}
	.visit-us h4 {
		margin-bottom: 12px;
	}
	.about-lab .media-body {
		padding-left: 0;
	}
	.about-lab .media-left {
		display: block;
		margin-bottom: 30px;
	}
	.photos-gallery ul {
		margin-bottom: 0;
	}
	.visit-us .share-page {
		float:left;
	}
	.visit-us .review-button {
		float: right;
	}
	.about-lab .lab-Headings p {
		padding: 0 50px 20px 0;
	}
	.modal-style .modal-body {
		padding: 15px 5px 30px;
	}
	.btn-white {
	margin-bottom: 15px;
	}
}

@media (min-width:320px) and (max-width:480px){
	.navbar-brand > img{
	max-width: 160px;
	height: 40px;
	padding-top:8px;}
	.navbar.navbar-inverse.navbar-fixed-top{min-height:auto;}
	.navbar-toggle{float: none;left:143px;}
}