.login-wrapper {
	margin-bottom: 25px;
}
.login-wrapper .form-signin {
	padding:25px !important;
}
div#appLinks {
	clear: both;
	margin: 30px auto;
	width: 380px;
}
div#appLinks div#iphone {
	float: left;
}
div#appLinks div#iphone img, div#appLinks div#android img {
	width: 185px;
}
div#appLinks div#android {
	float: right;
}
.form-signin div.submit input {
	background-image: none!important;
	background-color: #1199e3!important;
}
.form-signin > p {
	font-size: 13px !important;
	font-weight: normal;
	/*line-height: unset !important;*/
	text-align: left !important;
	margin: 0 0 20px 0!important
}
input#UserUsername {
	border: 1px solid #CCC;
}
input#UserPasswd {
	border: 1px solid #CCC;
}
.form-signin {
	max-width: 420px;
	padding: 15px 35px 35px;
	margin: 0 auto;
	border: 1px solid rgba(0, 0, 0, .1);
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	box-shadow: rgba(0, 0, 0, .3) 0 3px 20px 0;
	background: #fff;
}
.form-signin-heading {
	color: #38b2d9;
	font-size: 16px;
	margin-bottom: 3px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(35, 169, 170, 0.4);
}
.form-sigin-slogan {
	text-align: center;
	color: #666;
	margin-bottom: 30px;
	font-size: 18px;
}
.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 20px 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.btn-blue {
	background: #1aa7b5;
	border-color: #16726f;
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .23);
	-webkit-font-smoothing: antialiased;
}
.form-signin .fpass {
	margin-top: 10px;
}
.form-sigin-slogan-sm {
	font-size: 13px;
	margin-bottom: -10px;
	margin-top: 40px;
}
.form-sigin-slogan, .form-sigin-slogan-sm {
	text-align: center;
	color: #666;
	margin-bottom: 30px;
	font-size: 12px;
}
.log_in .underme {
	cursor: pointer;
}
.green {
	color: #000000;
	font-weight: 700;
}
.form-sigin-slogan-out {
	margin: 30px 0;
	text-align: center;
}
.form-signin-footer {
	margin: 0 auto 50px;
	max-width: 327px;
	padding: 0 35px;
}
/* COMMON
-------------------------------------------------- */
a, a img, img {
	outline: none;
}
a:active, a:focus {
	outline: none;
 ie-dummy: expression(this.hideFocus=true);
}
:active, :focus {
	outline: none;
	-moz-outline-style: none;
}
hr {
	margin: 0 auto !important;
}
.space {
	margin: 0;
	display: inline-block
}
h2 {
	font-size: 30px;
}
p {
	color: #444343;
	font-size: 15px;
}
/*.container {
	max-width: 1170px;
}*/
.padding-top-3 {
	padding-top: 3%;
}
.border-bot-0 {
	border-bottom: solid 0px #fff !important;
}
.margin-bot-2 {
	margin-bottom: 1.5%;
}
.full-width {
	width: 100%;
}
.border-radius-25 {
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}
/* FONTS
-------------------------------------------------- */
body {
	font-family: 'Open Sans', sans-serif;
}
/* COLORS
-------------------------------------------------- */
.bg_masthead {
	background: #00cc00;
	background: -moz-linear-gradient(left, #00cc00 0%, #0066ff 100%);
	background: -webkit-linear-gradient(left, #00cc00 0%, #0066ff 100%);
	background: linear-gradient(to right, #00cc00 0%, #0066ff 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00cc00', endColorstr='#0066ff', GradientType=1);
/*background: #95177e;
    background: -moz-linear-gradient(left, #95177e 0%, #572688 48%, #2c65c7 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#95177e), color-stop(48%,#572688), color-stop(100%,#2c65c7));
    background: -webkit-linear-gradient(left, #95177e 0%,#572688 48%,#2c65c7 100%);
    background: -o-linear-gradient(left, #95177e 0%,#572688 48%,#2c65c7 100%);
    background: -ms-linear-gradient(left, #95177e 0%,#572688 48%,#2c65c7 100%);
    background: linear-gradient(to right, #95177e 0%,#572688 48%,#2c65c7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95177e', endColorstr='#2c65c7',GradientType=1 ); /* IE6-9 */
}
.project-list, .freelancer-list {
	margin-bottom:0px;
}
.bg_masthead {
	margin-top:30px;
}
.bg-light-gray {
	background-color: #f9fbfb;
	/*border-bottom: 1px solid silver;*/
}

.btn-secondary {
	background-color: #9933ff;
	color: #fff;
}
.btn-primary {
	background-color: #3366ff;
}
.bg-blue {
	background: #3d91c5;
	color: #fff
}
.bg-green {
	background: #36bf80;
	color: #fff;
	padding: 4% 0;
}
.bg-mauvu {
	background: #9933ff;
	color: #fff
}
.text-mauvu {
	color: #36bf80;
}
.navbar-brand {
	padding: 0 !important;
	margin-top: 8px;
}
.navbar-brand > img {
	width: 100%;
}
/* TOP NAVIGATION
-------------------------------------------------- */

nav {
	font-size: 18px;
	color: #010101;
}
.nav {
	margin-top: 0.6%;
}
.navbar {
	margin-bottom: 0px;
	margin-top: -20px;
}
.navbar-default {
	background-color: #fff;
	border-bottom: solid 1px #e9e9e9;
}
.navbar-brand {
	padding: 15px;
	height: auto
}
.navbar-right {
	margin-top: 2%;
	color: #fff;
}
.navbar-right a {
	color: #fff;
	margin-right: 5px;
}
/* SLIDER HOLDER
-------------------------------------------------- */
.slide-left {
	background: url(../images/img_slider_left.jpg) no-repeat;
	height: 520px;
	border-right: solid 2px #0066ff;
	background-size: 100% 100%;
	background-size: 100% 100%;
}
.slide-right {
	background:url(../images/img_slider_right.jpg) no-repeat;
	height: 520px;
	border-left: solid 2px #0066ff;
	background-size: 100% 100%;
	background-size: 100% 100%;
}
.or-img {
	background: url(../../img/new_images/img_or.png) no-repeat center center;
	height:100%;
}
#join-form .mtop-new p {
	margin-top:10px;
}
.chat-left {
	background: url(../images/bg_chat_left.png) no-repeat;t;
	margin-top: 18%;
	padding: .5% 3% 6%;
	min-width: 188px;
	min-height: 115px;
	color: #fff;
}
.chat-left p {
	height: 10px;
	color: #fff;
}
.chat-right {
	background: url(../images/bg_chat_right.png) no-repeat;
	margin-top: 17%;
	padding: 3px 5px 34px 11px;
	color: #fff;
	min-width: 188px;
	min-height: 115px;
	margin-left: 4%;
}
.chat-right p {
	height: 10px;
	color: #fff;
}
.slide-left a {
	display: inline-block;
	margin-right: 15px;
	width: auto;
}
.slide-right a {
	display: inline-block;
	margin-left: 15px;
	width: auto;
}
.connect {
	/* bottom: 0px; */
    font-size: 35px;
	position: relative;
	text-align: center;
	/* top: 61%; */
    /* left: 41%; */
    top: -230px;
	width: 24%;
	margin: 0 auto;
	text-align: center;
	height: 0px;
}
.connect label {
	font-size: 24pt;
	color: #000;
	padding: 10px;
	background: url(../../img/new_images/bg_transparent.png) repeat;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.art {
	font-size: 28px !important;
	position: relative;
	top: 140px;/*width: 44%;*/
}
.btn_hire_temp {
	text-align: right;
}
/* FUTURE HOLDER
-------------------------------------------------- */
#future {
	padding-bottom: 20px;
	padding-top: 20px;
}
#future section {
	background: #fff;
	border: solid 1px #d2d2d2;
	/*border-top: solid 5px #0066ff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;*/
	border-radius: 10px;
}
#future section h2 {
	text-align: center;
	margin: 0px;
}
#future section ul {
	list-style: none;
	margin-top: 5%;
}
#future section li {
	list-style: none;
	margin-bottom: 8%;
	margin-top: 4%;
	background: url(../../img/new_images/icon_arrow.png) no-repeat;
	text-indent: 10%;
}
#future section figure {
	padding: 3% 0;
}
/* WHY JOIN HOLDER
-------------------------------------------------- */
#join ul {
	padding-left: 5px;
	margin: 0px;
}
#join ul li {
	background: url(../../img/new_images/icon_plus.png) no-repeat;
	text-indent: 6%;
	list-style: none;
	margin-bottom: 2%;
}
#join a {
	background: #00b050;
	/*border: solid 1px #fff;*/
	border-radius: 25px;
	color: #fff;
	padding: 2% 5%;
	margin: 5% 0;
}

/* Avinash*/
.submit-btn{background: #E25600!important;height: 40px;}
.job-section{ box-shadow: -1px -1px 2px 3px #888888;
float: left;
width: 100%;
margin-bottom: 15px;
margin-top: 15px;}
.profile-icon{border: 1px solid #000!important;}
.profile-icon img{width: 100%!important;}
.padding0{padding: 0;}
.job::before{display: none;}
.company-profile p{margin-bottom: 0;color: #05cb95;font-size: 14px;font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.company-profile p i{width: 16px;color: gray;}
.company-profile h4{margin-top:0;font-size: 20px;}
.company-profile h4 a{font-size: 20px;letter-spacing: 0;}
.description-section p span{margin-bottom: 0;color: #05cb95 ;}
.description-section p i{width: 16px;color: gray;}
.background-separator span{margin-bottom: 10px !important;
display: inline-block;background: #05cb95;border-radius:4px;margin-right: 5px;padding: 5px;color: #fff!important;}
.background-none{padding-top:5px;float:left;margin-right:5px;color:#05cb95!important;background: none!important;border-radius:0!important;}
.bg-dynamic{display: inline-block;background: #05cb95;border-radius:4px;margin-right: 5px;padding: 5px;color: #fff!important;}
.location-section{float: left;width: 100%;}
.location-section label{padding-left: 0;color: #05cb95;}
.kafe-btn-mint-small{color: #fff;border-radius: 0;padding: 6px 30px 6px 10px;}
.post-row-section{float: left;width: 23%;margin-right: 10px;}
.post-row-section span{float: left;width: 100%;text-align: center;}
.post-row-section label{width: 100%;font-size: 16px!important;margin-right: 30px;border-radius: 0;padding: 10px;}
.post-row-section a{width: 100%;font-size: 16px!important;margin-right: 30px;border-radius: 0;padding: 10px;}
.avtar-profile{background: none!important;}
.avtar-profile img{width: 150px!important;max-width:150px!important;height: 150px!important;max-height:150px!important;}
.user-client{border:1px solid #eee;}
.avtar-profile .name-profile{background: #05cb95;color: #fff!important;padding-bottom: 5px!important;}
.job-section-hierer{border-bottom: 3px solid #eee;float: left;width: 100%;}
.paddingtop10{padding-top: 10px;}
.btn-recruiter{background:#4B0082!important;}
.New-corner{position: absolute;
overflow: hidden;
top: 15px;
right: -1px;
height: 54px;
width: 38px;}
.New {
        width: 79px;
    right: 0;
    color: #fff;
    top: 8px;
    background-color: #337ab7;
    transform: rotate(49deg);
    text-align: left;
    padding-top: 16px;
    padding-left: 16px;

}
.page-custom:before{border-bottom: none;}
.button-css-jobs{margin-right: 30px;}
.button-css-jobs .btn{margin-right: 0;padding: 2px 10px;border-radius: 0;margin-bottom: 10px;}


.fadeInRight .urgent_hjob_text {

    padding: 0 11px !important;

}

/*.job-details-popup .modal-dialog{float: left;width: 100%;}
.job-details-popup .modal-header{background:none;color: #00a2ed;float: left;width: 100%;}
.job-details-popup .modal-header .modal-title{float:left;width: 50%;text-align: left;}*/
.job-details-popup .modal-content .close{float:right;width: 50%;text-align: right;margin-right: 0;}
.job-details-popup .modal-content p{float: left;width: 50%;text-align: left;color: #00a2ed!important;margin-bottom: 0;padding-bottom:0;}
.post-row-section button{
    width: 100%;
    font-size: 16px !important;
    margin-right: 30px;
    border-radius: 0;
    padding: 10px;
}
.job-details-popup .modal{border: 4px solid #5a5f67;padding: 10px;}
.private-quote{float: left;width: 100%;}
.private-quote label{text-align: left;color: #7f7f7f;padding-left: 0;}
.your-name-input{float: left;width: 100%;}
.your-name-input label{text-align: left;color: #7f7f7f;padding-left: 0;}
.your-name-input input{width: 200px;height: 35px !important;}
.footer-popup{float: left;width: 100%;border-top: 1px solid #ccc;padding-top: 10px;}
.footer-popup input[type="checkbox"]{display: inline-block;margin-right: 10px;margin-top: 5px;}
.footer-popup a{margin-right: 0;}
.Bid-Now-btn{margin-bottom: 10px;float: left;width: 100%;}
.Bid-Now-btn .btn{width: auto;float: right;background: #59be66;color: #fff;}
.hourly-rate-section{float: left;width: 100%;margin-bottom: 10px;}
.hourly-rate-section label{float: left;width: 100%;}
.hourly-rate-section span{border-top-right-radius: 0 !important;border-bottom-right-radius: 0 !important;background: #eeeeee;padding: 5px 15px;border-radius: 4px;width: auto;border: 1px solid #ccc;height: 35px !important;}
.hourly-rate-section input{border-top-left-radius: 0 !important;border-bottom-left-radius: 0 !important;float: left;width: 115px;height: 35px !important;}
.hourly-rate-section select{float: left;width: auto;margin-left: 10px;height: 35px !important;}
.tmpry-name{float: left;padding-left: 10px;}

/* Mukesh CSS */
.box1 {
    border: 1px solid #ccc; float: left; width: 100%; padding: 15px 10px; border-radius: 10px; box-shadow: 6px 0px 29px #ccc; border-radius:4px;
}
.titleJob h4{ font-size: 24px; color: #00a2e8;}
.listItem{
    list-style-type: none;
    margin: 0;
	padding: 0;
	text-align: center;
}
.listItem li{ float: left; margin:0 15px;}
.b-r{ border-right:1px solid #ccc; width: 20px; height: 50px;}


.titleJob h4{ font-size: 24px; color: #00a2e8; font-family: 'Arial', sans-serif; font-weight: 400;}
.blue{ background: #0066ff;}
.w20{ width: 20%; }
.btn-gren{background: #0ECD1C !important;color: #fff !important;padding: 5px 18px;}
.Mgreen{ color: #008bcb; font-size: 16px; font-weight: 900; font-family: arial;  }

.jobpost .label-success {
    font-family: 'Arial', sans-serif;
    background: #05cb95 !important;
    margin-bottom: 5px;
    font-size: 10px;
    color: #fff !important;
    letter-spacing: 1px;
    border-radius: 4px;
}
.anlist {
    font-family: 'Montserrat', sans-serif !important;
	font-weight: 700 !important;
	font-size: 16.25px !important;
	color: rgb(14, 191, 31) !important;
}
.anlist:hover, anlist:focus {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
	color: #0ebf1f !important;
    width: 100%;
	font-size: 16.25px;
}
.description-section p{ font-family: Arial; padding-bottom: 0px; font-size: 10px; color: #868585}
.btn-primary {
    color: #fff !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}
a:hover, a:focus, a:active, a.active {
    text-decoration: none;
    outline: 0;
    color: #fff !important; 
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    transition: 0.5s all ease;
}
.errors{ color: red; }

.show-result{
	display: inline-block;
	width: 100%;
}

.show-div{
    width: 10%;
    float: left;
    display: inline-block;
    position: relative;
    bottom: 60px;
    float: right;
    left: -270px;
    right: 0;
}

.pagination-div{
	width: 100%;
	display: inline-block;
}

 @media screen and (min-width: 320px) and (max-width: 480px) {
 #join ul li {
 background: url(../../img/new_images/icon_plus.png) no-repeat;
 text-indent: 0;
 list-style: none;
 margin-bottom: 2%;
 padding-left: 32px;
/* height: 57px; */
        /* word-wrap: normal; */
        /* white-space: pre-line; */
        /* vertical-align: top; */
    }
}
/* WHY JOIN HOLDER
-------------------------------------------------- */

/* FOUR COLUMN HOLDER
-------------------------------------------------- */
.four-column {
	background: url(../../img/new_images/bg_four_step.png);
	min-height: 460px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #CCCCCC;
	padding: 15px 15px;
	margin: 10% 0;
	background-repeat-y: no-repeat;
	background-repeat-x: repeat;
	height: 100%;
	background-position: center center;
	background-size: 100% 100%;
	background-clip: padding-box;
}
.four-column h3 {
	font-size: 22px;
	margin: 13% 0;
	text-align: center;
	font-weight: normal
}
.four-column figure {
	margin: 20px 0px 40px 0;
}
.four-column p {
	height: 115px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
	height: 300px;
	margin-bottom: 10px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}
#users-home .text-mauvu {
	margin-bottom: 0;
}
/* Declare heights because of positioning of img element */
.carousel .item {
	height: 300px;
	background-color: transparent;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 300px;
}
.carousel-indicators .active {
	background-color: #202429;
}
.carousel-indicators li {
	background-color: #8c8f92;
}
.carousel-caption {
	left: 5%;
	right: 5%;
	text-shadow: none;
	background-color: transparent !important;
	clear: both;
	top: 0;
}
/* JOIN NOW
-------------------------------------------------- */
#join-form {
	padding: 2% 0;
}
.form-control {
	height: 40px;
}
.height40 {
	height: 40px;
}
.clear-both {
	clear: both
}
.margin-top-2 {
	margin-top: 2%
}
#join h3 .img-responsive {
	margin-right: 16px;
	width: 50px;
}
#join h3 figure {
	display: inline-block;
	vertical-align: middle;
}
#join .col-sm-6 > h3 {
	margin-bottom: 30px;
	text-align: center;
}
p.ben-text {
	font-size: 27px;
	color: #fff;
}
/* APPS
-------------------------------------------------- */
#apps h4 {
	font-size: 27px;
}
#apps ul {
	padding-left: 0px;
	margin-left: 0px;
}
#apps ul li {
	margin-top: 10px;
	font-size: 19px;
	background: url(../../img/new_images/icon_arrow-white.png) no-repeat;
	list-style: none;
	text-indent: 30px;
	padding: 5px 0px;
	line-height: 22px;
}
/* FOOTER
-------------------------------------------------- */
footer {
	background: #f9fbfb;
}
footer h3 {
	color: #3366ff;
	font-family: 'festivomini', sans-serif;
	font-size: 20px;
	margin-top: 5%;
	font-weight: 100;
}
footer p {
	color: #fff;
}
footer ul {
	padding-left: 0;
	list-style: none;
	color: #6a6969;
	margin: 0px 0px 10px 0px;
}
footer ul li a {
	color: #6a6969;
	background: url(../../img/new_images/icon_arrow_small.png) no-repeat;
	padding-left: 15px;
}
.social-icons {
	margin-top: 1%;
}
p.copyright {
	padding-top: 18px;
}
.bg_masthead .unstyled.clearfix.pull-right.media-icons {
	margin-top: 8px !important;
}
#join-form .col-sm-2.text-center {
	height: 185px;
	overflow: hidden;
}
.social .col-sm-2.text-center {
	height: 316px;
	margin-top: 30px;
	overflow: hidden;
}
#join-form .col-sm-2.text-center > img {
	margin-top: -52%;
}
.search-input-container #UserHomeForm, .search-input-container #UserRegisterForm {
	background: rgba(0, 0, 0, 0.8);
	padding:14px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.right-space label {
	color:#FFF !important;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

.bg-light-gray {
	clear: both;
	display: block;
	padding-bottom: 15px;
}
#welcome .text-mauvu {
	margin: 48px auto 0;
}
p.col-md-8.col-sm-offset-2.text-cont {
	margin-top: 25px;
}
#join .text-center {
	margin: 60px 0 17px;
}
#content-mass-bottom .jobsHeader {
	background: #00b8f1;
	border-bottom: 2px solid #cedce5;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	display: table;
	height: auto;
	margin: 0;
	padding: 20px 16px;
	width: 100%;
}
#top2 {
	clear: both;
	margin-left: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
#content-mass-bottom .jobsHeader h3 {
	display: inline-table;
	float: left;
}
#content-mass-bottom .moduletable h3 {
	color: #FFFFFF;
	margin: 0;
	line-height: 20px;
}
#content-mass-bottom .jobsHeader .all-jobs {
	border-left: 1px solid #fff;
	color: #ffffff;
	display: inline-table;
	float: left;
	font-size: 18px;
	margin-left: 10px;
	padding-left: 10px;
	text-decoration: underline;
}
#content-mass-bottom span.featured_job {
	background: #f5fafc none repeat scroll 0 0;
	border-bottom: 1px solid #e4e8ea;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin: 0;
	padding: 10px;
	float: left;
	width: 100%;
}
#content-mass-bottom span.featured_job span.apply_col a {
	background: #0073b9 none repeat scroll 0 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	display: block;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	height: auto;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
}
#content-mass-bottom.col-sm-5 {
	padding: 0;
}
#content-mass-bottom span.featured_job span.title_col {
	width: 35%;
	word-break: break-all;
}
#content-mass-bottom span.featured_job span {
	color: #484848;
	display: block;
	float: left;
	padding: 0 10px 0 0;
	text-align: left;
	vertical-align: middle;
}
#content-mass-bottom span.featured_job span.area_col {
	width: 25%;
}
#content-mass-bottom span.featured_job span.apply_col {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	padding: 0;
	text-align: center;
	width: 18%;
	float: right;
. btn-employers-css
}
#content-mass-bottom span.featured_job span a {
	color: #3d3f3f;
}
span.featured_job span a {
	color: black;
	text-decoration: none;
}
#content-mass-bottom span.featured_job span.desc_col {
	color: #707070;
	display: block;
	font-size: 90%;
	padding: 0;
	width: 100%;
}
/*----------Gagandeep------*/
.Register-cls {
	/*width: 56%;*/
	margin: 35px auto 60px;
}
.employers-cls-div {
	/*width: 35.33%;*/
	height: auto;
	background: #fff;
	min-height: 290px;
	text-align: center;
	padding: 0px 0 0px;
	margin-bottom: 0px;
	border: 1px solid #61cb0c;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: relative;
}
.emp-image {
	display: block;
}
.border-0066ff {
	border: #0066ff 1px solid !important;
}
.btn-employers-css {
	background: #61cb0c;
	font-size: 20px;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	padding: 12px 15px;
	color: #fff;
	font-weight: 600;
}
.employers-cls-div ul {
	margin: 30px auto 0;
}
.employers-cls-div ul li {
	list-style: none;
	font-size: 16px;
	margin-bottom: 9px;
}
.register-btn-cls {
	color: #6e6e6e;
	font-size: 16px;
}
.feature-btn {
	color: #44ae00;
	display: block;
	left: 50px;
	position: relative;
	right: 0;
	top: 16px;
}
.border-0066ff .feature-btn {
	color: #0066ff;
}
.health-sub-div {
	width: 52%;
	margin: 20px auto 0;
}
.health-sub-div .health-pro-cls {
	border: 2px solid #77c151;
	height: 70px;
	width: 110px;
	float: left;
	margin: 0 15px 15px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.temp-worker {
	background: #0066ff !important;
}
.clear {
	clear: both;
}
.pad-right-left {
	padding: 0 35px !important;
}
.form-horizontal label, .form-horizontal .group-inline span, .form-horizontal .group-block span, .form-horizontal .checkbox > span {
	display: inline-block;
	margin: 0;
	padding: 5px 9px 0 0;/*text-align: right;
	width: 100px;*/
}
#UserAddWalletAmountAmount, #UserCashWithdrawalAmount {
	margin-right: 15px;
	width: 20%;
}
body .content form input[type="text"], body .content form input[type="password"], body .content form input[type="search"] {
	height: 41px;
	width: 100%;
	border: 1px solid #CCC;
	color: black;
	font-weight: normal;
	font-size: 18px;
}
.form-horizontal .submit {
	margin-bottom: 10px;
	margin-left: 0px;
}
.form-horizontal .checkbox, .form-horizontal .radio {
	margin-left: 0px;
}
.form-horizontal .checkbox label, .form-horizontal .radio label {
}
.form-horizontal .help-block, .form-horizontal .help, .form-horizontal .info {
	margin-bottom: 0;
	margin-left: 0 !important;
	margin-top: 10px;
}
body .content .space {
	padding: 0px 0px 0px 10px !important;
}
.login-wrapper .form-signin.form-horizontal.ver-space.form-login .dl.text-14.pad-right-left.textb {
	font-size: 14px;
	margin: 22px 0;
	padding: 12px;
	text-align: center;
}
.form-horizontal input, .form-horizontal textarea, .form-horizontal .uneditable-input input, .form-horizontal select, .form-horizontal .input-prepend .add-on, .form-horizontal .input-prepend .btn {
	margin-left: 0;
}
body .content form input[type="submit"] {
	/*width: 100% !important;*/
	padding: 10px;
}
.temp2.form-no-1 .submit-btn {
	max-width: 347px !important;
	padding: 10px 60px;
	width: auto !important;
	margin: 15px auto !important;
	/*display: block;*/
	clear: both;
	min-width: inherit !important;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}
 @media (min-width: 1200px) {
}
 @media (max-width: 980px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
/*24/03/2016*/

.nav > li > a {
	color: #fff;
	font-size: 11pt;
}
.emp_prof_div .nav > li > a, .dashboard_tabs .nav > li > a {
	color: #fff;
	font-size: 11pt;
	background: green;
}
.emp_prof_div .nav > li > a.active, .dashboard_tabs .nav > li > a.active {
	color: gray;
	font-size: 11pt;
	background: #fff;
}
.btn-primaryes {
	background-color: #00b050;
	padding: 7px 13px;
	font-size: 11pt;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
}
.btn-secondaryes {
	background-color: #00b8f1;
	padding: 7px 13px;
	font-size: 11pt;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
}
.btn-primaryes:hover {
	background-color: #0ab95a;
	color: #fff;
	text-decoration: none;
}
.btn-secondaryes:hover {
	background-color: #1e5dca;
	color: #fff;
	text-decoration: none;
}
.maintcest {
	color: #36bf80;
	font-size: 20pt;
	line-height:20pt;
}
.btnbleed {
	background-color: #3366ff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	display: table;
	font-size: 11pt;
	margin: 0 auto;
	padding: 5px 10px;
	text-align: center;
	width: auto;
	margin-bottom: 20px;
}
#join-form .text-center {
	color: #36bf80;
}
/**/

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
.animated.hinge {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}
.animated.flipOutX, .animated.flipOutY, .animated.bounceIn, .animated.bounceOut {
 -webkit-animation-duration: .75s;
 animation-duration: .75s;
}
 @-webkit-keyframes fadeInDown {
 from {
 opacity: 0;
 -webkit-transform: translate3d(0, -100%, 0);
 transform: translate3d(0, -100%, 0);
}
to {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}
}
 @keyframes fadeInDown {
 from {
 opacity: 0;
 -webkit-transform: translate3d(0, -100%, 0);
 transform: translate3d(0, -100%, 0);
}
to {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}
}
.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
 @-webkit-keyframes fadeInUp {
 from {
 opacity: 0;
 -webkit-transform: translate3d(0, 100%, 0);
 transform: translate3d(0, 100%, 0);
}
to {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}
}
 @keyframes fadeInUp {
 from {
 opacity: 0;
 -webkit-transform: translate3d(0, 100%, 0);
 transform: translate3d(0, 100%, 0);
}
to {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
}
}
.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
/*rajat*/
.form-signin .info {
	margin: 0 auto !important;
	width: 83% !important;
}
.cantent {
	text-align: center;
}
.alter-row {
	margin-left: 0px;
	text-align: center;
}
.form-signin .info .js-no-pjax {
	float: left;
}
.form-signin .info a {
	float: right;
	text-decoration: none;
}
.btnbleed:hover {
	color: #fff;
	background-color: #2f5597;
	text-decoration:none;
}
.register_form1 {
/*width: 43%;
	float: left;
	margin-left: 18%;*/
}
.form-right {
	padding:15px;
	margin-top: 105px;
	background: #1d95eb;
	color: #fff;
}
.register-form {
/*margin-left: 38px;*/ /*padding:25px!important;*/
}
.form-right p {
	color: #fff;
}
.thumbnail {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding: 4px 0;
}
.js-register-container .formtemp3 .text input {
	width: inherit !important;
}
.temp3 h1 h2 {
	text-align: center;
}
.form-no-1 {
	background-color: transparent;
	color: #252424;
}
.form-no-1 p {
	color: #6a6969;
}
.file_upload .img-thumbnail p {
    color: #5BC236;
}
.form-no-1 label {
	color: #fff !important;
}
span.btn.btn-default.btn-file {
	width: 27.33%;
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 0px;
}
.btn-file input[type=file] {
	width: 100%;
	margin: 0px;
}
.span-new {
	line-height: 40px;
}
.file_upload {
	clear: both;
}
.file_upload .col-md-3 {
	margin-top:30px;
}
.file_upload .earninga-box {
	padding: 15px;
	border: 1px solid #ccc;
}
.file_upload .earninga-box label {
	width: 100% !important;
	display: block !important;
	margin: 0 !important;
	padding: 10px 0 !important;
	position: relative;
}
/*rajat*/

/* ======== Layout Adjustment ========= */

#welcome #adjust_h2 {
	margin: 0px !important;
}
.container.adjust_div {
	padding-top: 1% !important;
}
.adjust_box {
	height: 336px;
	/*  float: right;*/
  text-align:center;
}
.carousel-caption p {
	color: black !important;
}
img.round_img {
/*border-radius:150px;
    border:1px solid gray;*/
}
div.orChange {
	font-family: times new roman;
	font-size: 21px;
	font-weight: bold;
	margin-top:100%;
}
.feature-btn {
	position: relative !important;
}
.carousel-caption p {
	font-size: 22px;
	line-height: 24px;
	letter-spacing: 0.5px;
}
span.cite {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: black !important;
}
div.adjust_left {
	margin-top: -200px;
	margin-left: 30%;
	width: auto;
}
div.adjust_right {
	margin-top: -200px;
	margin-right: 30%;
	width: auto;
}
.cite > p {
	margin-bottom: 20px !important;
	margin-top: 20px !important;
	font-size: 14px !important;
}
p.adjust_head_p {
	margin-left: 0px !important;
	margin-top: 0px !important;
	width: 100% !important;
	text-align: center;
}
.head_p {
	font-family: helvetica;
	font-size: 17px;
}
.bottom_p {
	font-size: 13px;
}
.social_icn {
	margin-top: 200px;
	position: fixed;
	right: 0px;
	z-index: 99999;
	text-align: right;
}
.form_div_reg {
	border: none !important;
}
.register-options {
	margin-top: 20px;
	text-align:center;
}
.sec_wrpr {
	padding: 0px !important;
}
.buttons_overv {
	margin-top: 50px;
	text-align: center;/*	margin-left: 20px;*/
}
.verify_div_left {
	background-color: #fff;
	padding: 5px;
}
.verify_div_left h5 {
	color: #03C51D;
}
.verify_div_left span {
	/*display: inline-block;*/
	margin-left: 4px;
	font-size:13px;/*width: 160px;*/
}
.pull-left.documentname {
  width: 119px;
}
/*
.contact_page_div .nav > li > a{color:blue; font-size: 11pt;  }
.contact_page_div .nav > li .active a{
    color: gray;}*/
.contact_page_div .nav > li > a {
	background: #1c95e7;
}
.contact_page_div .nav > li.active > a {
	background: #ffffff;
}
.contact_page_div {
	margin-left: 0px !important;
}
.contact_page_div form input[type="text"], .contact_page_div form input[type="password"], .contact_page_div form input[type="search"] {
	color: black !important;
	font-size: 14px !important;
	font-weight: bold;
}
.contact_page_div form {
}
.contact_page_div form textarea {
	margin: 10px 0px;
}
.contact_page_div .right_div_cont {
}
.contact_page_div .left_cont_div {
	border-right: 1px solid;
}
.menu_footer_right ul li a {
	color: #fff;
	font-size: 13px;
}
.menu_footer_right ul li {
	display:inline-block;
	margin-left:12px;
}
.menu_footer_right ul li:first-child {
	margin-left:0px;
}
.menu_footer_right {
	font-size: 15px;
	margin: 16px 0 16px 0;
}
div#bonus_page div#howItWorks, div#bonus_page div#upcomingBonuses {
}
div#bonus_page div#howItWorks div.content {
	padding: 15px;
}
div#bonus_page div#howItWorks span.header, div#bonus_page div#upcomingBonuses span.header {
	display: inline-block;
	padding: 9px;
	width: 98%;
	background: #f2f2f2 none repeat scroll 0 0;
}
div#bonus_page div#howItWorks span.blue_text, div#bonus_page div#upcomingBonuses span.blue_text {
	color: #00a0ff;
	font-size: 25px;
}
div#bonus_page div#upcomingBonuses {
	margin-top: 40px;
}
div#bonus_page div#upcomingBonuses div#features {
}
div#bonus_page div#upcomingBonuses div#features div#feature1, div#bonus_page div#upcomingBonuses div#features div#feature2, div#bonus_page div#upcomingBonuses div#features div#feature3, div#bonus_page div#upcomingBonuses div#features div#feature4 {
	border: 2px solid grey;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height: 170px;
}
div#bonus_page div#upcomingBonuses div#features span.ribbons {
	background: deepskyblue none repeat scroll 0 0;
	color: white;
	display: inline-block;
	font-size: 14px;
	height: 20px;
	margin-left: 6px;
	margin-top: -10px;
	position: absolute;
	text-align: center;
	width: 80px;
}
div#bonus_page div#upcomingBonuses div#features span.featureContent {
	color: grey;
	display: block;
	font-size: 15px;
	margin: 15px 15px 5px;
	min-height: 52px;
	text-align: center;
}
div#bonus_page div#upcomingBonuses div#features span.featureImage {
	display: block;
	text-align:center;
	width: 100%;
}
div#bonus_page div#upcomingBonuses div#features span.featureImage img {
	text-align: center;
	width: 122px;
}
/* ------- Footer CSS ------- */

.footer_2 .copyright > span {
	color: #1B97E0;
}
.footer_2 p.copyright {
	margin-left: 20px!important;
}
.footer_2 .menu_footer_right ul li a {
	color: #1B97E0;
}
.bx-controls-direction {
	display:none!important;
}
.bx-controls {
	display:none!important;
}
/*Login css*/
div#login_logo {
	margin: 1px auto;
	text-align:center;
}
div#login_logo > img {
	max-width:100%;
}
.Register-cls-link ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
.Register-cls-link ul li {
	text-align:center;
	margin:3px 0px;
}
.medical a {
	color:#0066ff;
}
.employers a {
	color:#61cb0c;
}
.submit-block {
	margin-top:20px;
}
#nav-search .submit input[type="submit"] {
	width:230px !important;
}
#UserCashWithdrawalAddForm .required label {
	display:inline-block !important;
}
.userCashWithdrawals {
	margin-top:15px;
}
.page-info {
	margin:15px 0px;
}
.social-myconnections .well {
	margin-bottom: 0;
	margin-top: 5px;
	padding: 10px 19px;
}
.social-myconnections .btn {
	padding: 10px 19px;
	margin-top: 5px;
	width:100%;
}
.social-myconnections .page-header {
	margin:15px 0;
}
#UserForgotPasswordForm {
	width:50%;
}
.social_marketings .label {
	color: #444;
	margin-bottom: 10px;
	padding: 7px 14px;
	text-shadow: none !important;
	width: 100%;
}
.mbottom0 {
	margin-bottom:0px !important;
}
.mbottom15 {
	margin-bottom:10px;
}
.account-summary {
	font-weight:bold;
}
.jobs-list .show {
	padding-bottom:6px;
}
.all-list-p .col-md-2 a {
	margin-top:0px !important;
	padding-top:0px !important;
}
.cms-pages {
	margin-top:20px;
}
div#heading_text {
	background: #4d6df3 none repeat scroll 0 0;
	color: white;
	font-size: 28px;
	line-height: 1.2;
	margin: 25px auto;
	padding: 23px 10px;
	text-align: center;
}
div#features_chart table tr td:first-child {
	color: #7B82F8;
}
div#features_chart table tr td {
	border: 1px solid silver;
}
div#features_chart table tr.bg_dark td {
	background: #F5F5F5;
}
div#features_chart {
	clear: both;
	margin: 0 auto;
}
div#features_chart table {
	border: none;
	width: 100%;
}
h2.greenHeading {
	color: green;
	font-size: 20px;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
}
h1.greenHeading {
	color: green;
	text-align: center;
}
div#main div#caseStudies {
	margin-bottom: 50px;
}
div#main div#caseStudies div.adjacent {
	border: 3px solid #61be36;
	margin-top: 20px;
	min-height: 426px;
	padding: 15px;
}
div#main div#caseStudies div.adjacent.notFirst {
	margin-left: 8%;
}
div.photo {
	border: 2px solid #00B7EF;
	border-radius: 50px;
	height: 100px;
	margin: 16px auto 0;
	width: 100px;
}
div.firstHeading2 {
	font-size: 18px;
	text-align: center;
}
div.firstHeading {
	font-size: 18px;
	margin-top: 10px;
	text-align: center;
}
div.secondHeading {
	font-size: 20px;
	margin: 10px auto;
	width: 135px;
}
div.para {
	margin: 10px auto;
	min-height: 64px;
	text-align: center;
}
div.stars {
	text-align: center;
}
div.stars > img {
	width: 170px;
}
div.ratings {
	font-size: 16px;
	font-weight: bold;
	margin: 10px auto;
	width: 62px;
}
div.staffShortage, div.savings {
	font-size: 14px;
	margin-left: 10px;
	text-align: left;
}
div.green {
	color: #008000;
	font-weight: bold;
}
div#joinToday {
	background-color: #e4edf4;
	padding-bottom: 15px;
}
div#joinToday a input {
	background-color: #83b21e!important;
	background-image: none;
	font-size: 18px;
	height: 40px;
	width: 100%;
	background: #e4edf4 none repeat scroll 0 0;
}
div#joinToday a input:HOVER {
	background-color: #83B21E!important;
}
div#joinToday > div#text {
	font-size: 16px;
	margin: 21px;
	text-align: center;
}
div#joinToday a.freeToRegister {
	color: #83b21e;
	display: block;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}
body .content .tab-head {
	margin-top: 15px;
}
.bxslider {
	margin:0px;
}
.img-thumbnail-box {
	padding:4px;
	line-height:1.42857143;
	background-color:#fff;
	border:1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.p15 {
	padding:15px !important;
}
.user_favorites li {
	margin-bottom:15px;
}
.admin-header-right-menu li {
	display:inline-block;
}
.discussion-list .pull-right .space {
	padding: 10px !important;
}
.publish-m .share-follow {
	width:100%;
	margin-bottom:15px;
	font-size:13px;
}
.copyright {
	font-size:13px;
}
.users-hire-me {
	padding:15px !important;
}
.users-hire-me section {
	margin-top:0px !important;
}
.social-avatar1 .col-md-9 label {
}
.budget-link a, .budget-link .span5 {
	width:100%;
}
div.adjust_box h2.text-mauvu {
	background-color: #00b8f1;
	color: #fff;
	font-size: 26px;
	height: 60px;
	padding-top: 7px;
}
/*************new 5-08-2016************/
.text-title h4 {
	color: #12b3e9;
	font-size: 34px;
	font-weight: bold;
	line-height: 46px;
	margin: 20px 0;
}
.text-title01 {
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0;
}
.three-box .text-center {
	font-size:18px;
}
.three-box .img-thumbnail {
	display:block;
	text-align:center;
	margin-bottom:15px;
	min-height:125px;
}
.three-box .img-thumbnail p {
	margin: 0;
	padding: 18% 0;
}
.three-box-f input[type="text"] {
	width:100%;
	height: 30px;
}
.compliance, .compliance-headding, .compliance-sub-headding {
	color:#5265cc;
}
.compliance-headding {
	font-size:36px;
	line-height:36px;
}
.new-bl {
	background:#00b7f0 !important;
}
.tech-help {
	color:#1db44d;
}
.tech-help h5 {
	font-size: 22px;
	margin: 8px 0;
}
.advertise ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
.advertise h5 {
	color:#168401;
	font-size:26px;
	font-weight:bold;
}
.advertise h4 {
	color:#168401;
	font-size:20px;image
	font-weight:bold;
	margin:25px 0 15px;
}
.traffic-list li, .traffic-list-platforms li {
	display:inline-block;
	width:18%;
}
.traffic-list li h5 {
	color: #023b82;
	font-size: 30px;
	margin-bottom: 5px;
}
.faq-b a {
	color:#FFF;
}
.faq-b h4 {
	color:#FFF;
	font-size:24px;
}
.faq-page ul {
	margin:0px;
	padding:0px;
	list-style:none;
}
.faq-page ul h6 {
	font-size:16px;
	margin-top:0px;
}
.faq-page .fa-question-circle {
	color: #00cc00;
	font-size: 28px;
}
.faq-page ul p {
	font-size:14px;
}
.faq-page ul li {
	margin-bottom:10px;
	padding-bottom:5px;
}
.left-number span, .bottom-number span {
	height:50px;
	width:50px;
	line-height:50px;
	font-size: 30px;
	color:#FFF;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	display:inline-block;
}
.color-1 {
	background:#42c1c7;
}
.color-2 {
	background:#f7941d;
}
.color-3 {
	background:#47b973;
}
.color-4 {
	background:#b53e90;
}
.left-number .col-md-2, .left-number .col-md-10 {
	margin-bottom:40px;
}
.left-number p {
	font-size: 18px;
	line-height: 24px;
}
.app-page h5 {
	color:#4256b4;
	font-size:38px;
	line-height: 42px;
	font-weight:bold;
	margin:30px 0 15px 0;
}
.app-page h6 {
	color: #4256b4;
	font-size: 28px;
	font-weight: bold;
	line-height: 32px;
	margin: 10px 0 30px;
	text-align: center;
}
.bottom-number h6 {
	color: #444;
	font-size: 20px;
	font-weight: bold;
	line-height: 32px;
	margin:0 0 30px 0;
	text-align: center;
}
.app-bottom h3 {
	color: #444444;
	font-size: 24px;
	font-weight: bold;
	line-height: 42px;
	margin: 0;
}
.app-bottom h4 {
	color: #4256b4;
	font-size: 24px;
	font-weight: bold;
	line-height: 42px;
	margin: 0;
}
.just-app span {
	color:#4256b4;
}
.just-app input[type="text"] {
	width:160px;
	margin-left:10px;
	height:36px;
	display:inline-block;
}
.just-app .submit-block {
	display:inline-block;
	margin-top:9px;
}
.just-app .submit-block input[type="submit"] {
	height:36px;
}
.app-images-button {
	display:inline-block;
}
.app-images-button ul {
	margin:0px;
	list-style:none;
	padding:0px;
}
.app-images-button ul li {
	display: inline-block;
	text-align: left;
	width: 104px;
}
.app-images-button img {
	max-width: 100%;
}
.faq-img img {
	max-width: 25%;
}
.compliance-content .img-thumbnail {
	margin-bottom:30px;
}
/*************new 5-08-2016************/
/*************new 11-08-2016************/
.new-box-design {
	color:#000;
	border:1px solid #ccc;
}
.new-box-design p {
	background:#1d95eb;
	color: #ffffff;
	font-size: 15px;
	padding: 10px;
}
.new-box-design span {
	color:#00cc00;
}
.new-box-design li {
	margin:5px 0px;
}
.new-box-design h2 {
	font-size:12px;
	font-weight:normal;
	margin:0px;
	line-height:inherit !important;
}
.new-box-design h3 {
	font-size: 30px;
	font-weight: bold;
	line-height: 30px !important;
	margin: 5px;
}
.new-box-design img {
	margin-bottom:15px;
}
.compliance-content .img-thumbnail {
	display:block;
	text-align:center;
}
.find-temp-jobs h2 {
	color: #12b3e9;
	font-size: 34px;
	font-weight: bold;
	line-height: 46px;
	margin: 20px 0 0 0;
}
.find-temp-jobs h3 {
	color: #12b3e9;
	font-size: 22px;
	font-weight: bold;
	line-height: 30px;
	margin: 20px 0;
}
.find-temp-jobs p {
	color: #12b3e9;
	font-size: 16px;
	font-weight: normal;
	line-height: 20px;
	margin: 10px 0;
}
/*.find-temp-jobs a {
	display:inline-block;
	color:#fff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#0cb65e;
	background-image:-moz-linear-gradient(top, #0c0, #1d95eb);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0c0), to(#1d95eb));
	background-image:-webkit-linear-gradient(top, #0c0, #1d95eb);
	background-image:-o-linear-gradient(top, #0c0, #1d95eb);
	background-image:linear-gradient(to right, #0c0, #1d95eb);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00cc00', endColorstr='#ff1d95eb', GradientType=0);
	border-color:#1d95eb #1d95eb #0f6bac;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
*background-color:#1d95eb;
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
text-decoration:none;
 padding: 10px;
 -webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
*/

.find-temp-jobs a {
	display:inline-block;
	color:#fff;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color:#006DED;	
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00cc00', endColorstr='#ff1d95eb', GradientType=0);
	border-color:#1d95eb #1d95eb #0f6bac;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
*background-color:#1d95eb;
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
text-decoration:none;
 padding: 10px;
 -webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

.find-temp-jobs a:hover {
background-color: #1d95eb;
    color: #ffffff;
text-decoration:none;
	background-position:0 -15px;
-webkit-transition:background-position .1s linear;
-moz-transition:background-position .1s linear;
-o-transition:background-position .1s linear;
transition:background-position .1s linear;
}
/*************new 11-08-2016************/
/*************new 17-08-2016************/
.compliance-content .img-thumbnail img {
  box-shadow: 0 1px 4px #cccccc;
  height: 60px;
  margin: 20px 0;
  width: 60px;
   -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
.overview-text-left {
    display: inline-block;
    float: left;
	width:41%;
	background:#00cc00 ;
	padding:7px;
}
.overview-images {
    display: inline-block;
    float: right;
    width: 59%;
}
.overview-text-left h5,.overview-text-left h4
{
	color:#fff;
}
.our-origin {
    text-align: center;
}
.our-origin-title h3, .our-evolution-title h3, .healthcare-title h3, .automated-title h3,
.type-of-healthcare-title h3,
.medical-healthcare-title h3,
.solutions-title h3
{
	font-weight:bold;
	color:#23b14d;
}
.our-evolution-title > h3,
.type-of-healthcare-title h3,
.medical-healthcare-title h3 {
    text-align: center;
}
.solutions-text > p
{
	color:#666666;
}
.overview-text-left span {
    color: #ffffff;
    font-size: 19px;
    padding-right: 10px;
}
.medical-healthcare-list li {
    list-style: outside none none;
}
.medical-healthcare-list span {
    margin-right: 10px;
}

.medical-healthcare-list li {
    float: left;
    font-size: 16px;
    list-style: outside none none;
    width: 33%;
	color:#666666;
}
.medical-healthcare-list > p {
    text-align: center;
	color:#666666;
	font-weight:bold;
}
.type-of-healthcare-list li {
    float: left;
    font-size: 17px;
    font-weight: bold;
    line-height: 40px;
    list-style: outside none none;
    width: 33%;
}
.type-of-healthcare-bg {
    background: #f0f0f0 none repeat scroll 0 0;
	padding-bottom:20px;
	  margin-top: 40px;
}
.type-of-healthcare-list span {
    background: #008000 none repeat scroll 0 0;
    border-radius: 5px;
    color: #ffffff;
    margin-right: 10px;
    padding: 0 10px;
}
.overview-bottom > p {
    text-align: center;
}
.overview-bottom {
    margin-top: 30px;
}
.overview-bottom-input {
	width:46.5%;
    text-align: center;
	margin:auto;
}
.overview-bottom-input  input {
    height: 35px !important;
    line-height: 35px;
}
.overview-bottom-input > input
{
	float:left;
}
.overview-bottom input {
    display: inline;
    line-height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}
.submit {
   /* position: absolute;*/
    right: 0;
    top: 0;
}
.email-box
{
	position:relative;
}
.overview-bottom-input .btn, input[type="submit"]
{
	padding:6.5px 10px !important;
}
.compliance-step ul{
	list-style:none;
	}
.compliance-step ul li{
	padding-top: 10px;
border-top: 1px solid #cccccc;
float: left;
position: relative;
text-align: center;
width: 25%;
font-weight:bold;
	}
.compliance-step .next-button {
    float: right;
}
.compliance-step .next-button a{
    background: #ff0000 none repeat scroll 0 0;
    color: #ffffff !important;
    padding: 4px 15px;
}
.compliance-step .active-step
{
  background: url(../../img/activeicon.png) no-repeat;
  top:-15px;
   height: 30px;
    width: 30px;
	border:none;
}
.compliance-step span {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #cccccc;
  border-radius: 100%;
  display: inline-block;
  height: 8px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: -5px;
  width: 8px;
}
@media screen and  (max-width: 480px) {
	.compliance-step span {
  
  left: -5px !important;
  right:auto !important;
  top: 38px !important;
}
.compliance-step .active-step{
top: 18px !important;
left:-10px !important;
}
.compliance-step ul li {
  border-left: 1px solid #cccccc !important;
  border-top:none !important;
  width: 100% !important;
}
	.overview-text-left
	{
		width:100%;
	}
	.overview-bottom-input
	{
		width:100%;
	}
	.overview-bottom br {
    display: none;
}
	.type-of-healthcare-list li, .medical-healthcare-list li
	{
		width:100%;
		float:inherit;
	}
	.overview-images
	{
		width:100%;
		float:inherit;
	}
	.medical-healthcare-list > ul {
    margin: 0;
}
	
}
/*************new 17-08-2016************/
.bggray{
	background:#f5f5f5;
	padding:20px 0;
}
.bgliplen{
	background:#ccc;
	padding:5px;
	max-width:62% !important;
	margin:5px auto;
}
.howitworktop {
  background-color: #e2e3e5;
  color: #60b947;
  font-size: 30px;
  font-weight: bolder;
  line-height: 1.2;
  padding: 10px;
  text-align: center;
}

.columheader {
	border-bottom: 0px !important;
}



